<div class="rule-list-container">
    <div>
        <h3>Payment Rails</h3>
        <div>
            Types of Status: In Progress,
            Completed
        </div>
    </div>
    <table>
        <thead>
            <th>Task</th>
            <th>Status</th>
            <th>Due Date</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    <label>
                        <input type="checkbox" aria-label="Select task" checked/>RTGS</label>
                </td>
                <td>
                    Completed
                </td>
                <td>
                    2024-10-30
                </td>
            </tr>
            <tr>
            <td>
                <label>
                    <input type="checkbox" aria-label="Select task"/>BACS</label>
            </td>
            <td>
                In Progress
            </td>
            <td>
                2025-10-30
            </td>
        </tr>

        <tr>
            <td>
                <label>
                    <input type="checkbox" aria-label="Select task" checked/>CHAPS</label>
            </td>
            <td>
                Completed
            </td>
            <td>
                2025-10-30
            </td>
        </tr>

        <tr>
            <td>
                <label>
                    <input type="checkbox" aria-label="Select task" checked/>P2P</label>
            </td>
            <td>
                Completed
            </td>
            <td>
                2025-10-30
            </td>
        </tr>

        </tbody>
    </table>
</div>

